/*COLORES*/

$azul-principal: rgb(25, 167, 206);
$dorado-principal: rgb(255, 241, 220);
$gris-newsletter: rgb(246, 241, 241);
$gris-fondo: rgb(246, 241, 241); 
$footer-footer: $dorado-principal;



/*
$azul-principal: rgba(80, 138, 175, 1);
$dorado-principal: rgba(224, 208, 189, 1);
$gris-newsletter: rgba(235, 235, 235, 1);
$gris-fondo: rgba(245, 245, 245, 1); 
*/
