.top-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: $dorado-principal;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: hidden;
    h1{
        color: $azul-principal;
        font-size: 34px;
        margin-bottom: 0px;
        margin-top: 0px;
        color: black;
        a{
            text-decoration: none;
            text-transform: uppercase;
            color: black;
        }
        a:hover{
            color: $azul-principal;
            font-weight: bold;
            text-shadow: 1px 1px 1px rgb(55, 55, 55);
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        text-decoration: none;
        text-transform: uppercase;
        list-style: none;
        color: black;
        font-size: 16px;
        margin-bottom: 0px;
        margin-top: 0px;
        li{
            text-decoration: none;
            display: inline;
            padding-left: 20px;
            padding-right: 20px;
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: black;
            }
            a:hover{
                color: $azul-principal;
                font-weight: bold;
                text-shadow: 1px 1px 1px rgb(55, 55, 55);
            }
        }
    }
}


.nav-main-header{
    padding-top: 7px;
}


.bottom-header{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: $azul-principal;
    padding:20px;

    border-bottom: 3px grey solid;
    ul{
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
        text-transform: uppercase;
        list-style: none;
        color: white;
        font-size: 16px;
        li{
            text-decoration: none;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-content: center;
            padding: 0px 40px 0px 40px;
            a{
                text-decoration: none;
                color: white;
            }
            a:hover{
                @include a-hover;  
            }
            /*
            p{
                color: $dorado-principal;
                font-weight: bold;  
            }
            */
        }
    }
}


.search-bar-text-area{
    height: 25px;
    width: 250px;
}


/* SEARCH BAR BUTTON EN PARTIAL "_botones.scss" */

.top-header h1{
    animation: heading1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes heading1 {
    0% {left: -200px}
    100% {left: 0px}
}

.top-header ul{
    animation: thul;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes thul {
    0% {right: -200px}
    100% {right: 0px}
}

.bottom-header ul{
    animation: bhul;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes bhul {
    0% {left: -200px}
    100% {left: 00px}
}

.search-bar-button{
    animation: sbb;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes sbb {
    0% {right: -200px}
    100% {right: 0px}
}

.search-bar-text-area{
    animation: sbta;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes sbta {
    0% {right: -200px}
    100% {right: 00px}
}