.nosotros{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    height: 100vh;
    background-color: white;
    grid-template-areas:"item1 item1 item1 item1 item2 item2";
    justify-content: center;
    align-content: center;
    overflow: hidden;
    height: auto;
}


.container-nosotros{
    background-color: white;
    padding: 20px;
    grid-area: item1; 
    align-self: center;
    h3{
        padding-top: 16px;
        padding-bottom: 16px;
    }
}


.box{
    background-color: $gris-newsletter;
    color: black;
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    a{
        text-decoration: none;
        color: $azul-principal;
        font-weight: bold;
        text-shadow: 2px 2px 2px $dorado-principal;
    }
    a:hover{
        color: white;
        font-weight: bold;
        text-shadow: 2px 2px 2px grey;
    }
    p{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    iframe{
        width: 100%;
    }
}


.container-cv-main{
    background-color: white;
    padding: 20px; 
    grid-area: item2;
    display: grid;
}


.container-cv-main-2{
    align-self: center;
}


.container-cv{
    background-color: $dorado-principal;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    p{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    h4{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    form{
        text-align: center;
    }
    a{
        text-decoration: none;
        color: $azul-principal;
        font-weight: bold;
        text-shadow: 2px 2px 2px $gris-newsletter;
    }
    a:hover{
        color: white;
        font-weight: bold;
        text-shadow: 2px 2px 2px grey;
    }
}


.contacto-cv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    label{
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 30%;
        text-align: center;
    }
    input{
        width: 70%;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 25px;
    }
}


.cv-button{
    margin-top: 20px;
}


/* CV Enviar BUTTON EN PARTIAL "_botones.scss" */

.container-nosotros{
    animation: cn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
}
    
@keyframes cn {
    0% {left: -200px}
    100% {left: 0px}
}

.container-cv-main{
    animation: ccm;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes ccm {
    0% {right: -200px}
    100% {right: 0px}
}