@media(max-width:320px){
    /* HEADER */
    .search-bar-text-area{
        width: 190px;
    }

    /* INDEX */
        /* ok */

    /* ABOUT */
    .container-cv-main-2{
        align-self: center;
        width: 95%;
    }
    

    /* APPLE */
        /* ok */

    /* CONDICIONES */
        /* ok */

    /* LOGIN */
    .login-box{
        margin-top: 32px;
    }

    /* PROXIMAMENTE */
        /* ok */
}