@media(max-width:1024px){

    /* HEADER */
    .bottom-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    .search-bar-text-area{
        margin-top: 16px;
    }

    /* INDEX */
        /* ok */
        
    /* ABOUT */
    .nosotros{
        height: auto;
    }

    /* APPLE */
    .market{
        height: 100%;
    }

    .samsung-banner{
        background-image: url("../assets/img/samsung/samsung-banner1024.jpg");
        height: 500px;
        background-position: center;
        background-size: cover;
    }

    .google-banner{
        background-image: url("../assets/img/google/google-banner1024.jpg");
        height: 500px;
        background-position: center;
        background-size: cover;
    }

    /* CONDICIONES */
    .condiciones{
        height: 100%;
    }

    /* LOGIN */ 
        /* ok */ 
    
    /* PROXIMAMENTE */ 
        /* ok */ 
}
