@media(max-width:375px){
    /* FOOTER */
   
    .login{
        height: 75vh;
    }
   
    .newsletter-button{
        margin-top: 16px;
    }

    /* INDEX */
    .main-banner-title p{
        margin-left: 10px;
        margin-right: 10px;
    }

    /* ABOUT */
        /* ok */

    /* APPLE */
        /* ok */

    /* CONDICIONES */
        /* ok */

    /* LOGIN */
        /* ok */

    /* PROXIMAMENTE */
        /* ok */
}