
@media(max-width:768px){

    /* HEADER */

    .bottom-header ul li{
        line-height: 32px;
    }

    /* ABOUT */
        /* ok */

    /* APPLE */
    .container-item{
        width: 90%; 
        column-gap: 50px;
    }

    /* CONDICIONES */
        /* ok */ 

    /* LOGIN */
    .login-box{
        margin-left: 20%;
        margin-right: 20%;
    }
    
    
    
    .registrarse-button{
        width: 60%;
    }

    /* PROXIMAMENTE */ 
        /* ok */ 
}