@media(max-width:320px){
    /* HEADER */
    .search-bar-text-area{
        width: 190px;
    }

    /* INDEX */
        /* ok */

    /* ABOUT */
    .container-cv-main-2{
        align-self: center;
        width: 95%;
    }
    

    /* APPLE */
    .apple-banner{
        background-image: url("../assets/img/apple/apple-banner0320.jpg");
        height: 94px;
        width: 100%;
        background-position: center;
        background-size: cover;
    }



    .google-banner{
        background-image: url("../assets/img/google/google-banner0320.jpg");
        height: 94px;
        background-position: center;
        background-size: cover;
    }


    /* CONDICIONES */
        /* ok */

    /* LOGIN */
    .login-box{
        margin-top: 32px;
    }

    /* PROXIMAMENTE */
        /* ok */
}